* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
}

html, body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	height: 100vh;
	background-color: #ffffff;
	color: #000000;
	line-height: 1.15;
	letter-spacing: 0.05em;
}

.main-banner {
	background-image: url(..//image/main-image.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 240px;
}

.container {
	width: 1180px;
	margin: auto;
}

.main-nav {
	font-size: 0;
	text-align: justify;
	margin-bottom: 270px;
}

.main-nav:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.main-menu {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.main-nav-link {
	display: inline-block;
}

.main-nav-link:hover {
	opacity: 0.5;
}

.main-nav-link:active {
	opacity: 0.1;
}

.main-nav-link:focus {
	outline: 2px solid #ff0000
}

.main-menu-item {
	display: inline-block;
	font-size: 14px;	
	font-weight: 700;
}

.main-menu-item-link {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 15px 20px 15px 0;
}


.main-menu-item-link:hover {
	color: #e71cb4;
	border-bottom-color: #e71cb4;
}

.main-menu-item-link:active {
	color: #000;
	border-bottom-color: #000;
}

.main-menu-item-link:focus {
	outline: 2px solid #ff0000;
}

.dropbtn {
  background-color: inherit;
  border: none;
 }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown-content-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-link:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.header-title  {
	width: 450px;
	margin: auto;
	font-family: "Times New Roman", serif;
	font-style: italic;
	font-size: 36px;
	margin-bottom: 40px;
	color: rgba(255,255,255,0.7);
}

.big-header-title {
	font-style: normal;
	font-size: 100px;
	text-transform: uppercase;
	color: #fff;
}

.btn {
	background-color: inherit;
	color: #ffffff;
}

.btn:hover {
	opacity: 0.5;
}

.btn:active {
	opacity: 0.1;
}

.btn:focus {
	outline-color: #2f2f;
}

.btn-header {
	min-width: 268px;	
	border: 2px solid #fff;
	padding: 18px 75px;
	margin-bottom: 42px;
}

.header-description {
	font-size: 14px;
	margin-bottom: 77px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
}

.header-descr-link {
	color: #fff;
}

.header-descr-link:hover {
	color: #e71cb4;
	border-bottom-color: #e71cb4;
}

.header-descr-link:active {
	color: #000;
	border-bottom-color: #000;
}

.header-descr-link:focus {
	outline: 2px solid #ff0000;
}

.get {
	padding-top: 100px;
	padding-bottom: 100px;
}

.get-list {
	font-size: 0;	
}

.get-list-item {
	display: inline-block;
	width: 360px;
	margin-right: 40px;
	text-align: center;
}

.get-list-item:last-child {
	margin-right: 0;
}

.circle-get-img {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 50%;
	margin-bottom: 20px;
}

.get-img {
	padding: 30px;
}

.align-circle {
	padding-bottom: 44px;
	padding-top: 44px;
}

.get-list-link {
	display: block;
	text-decoration: none;
	color: #000;
} 

.get-list-link:hover {
	opacity: 0.5;
}

.get-list-link:active {
	opacity: 0.1;
}

.get-list-link:focus {
	outline: 2px solid #ff0000;
}

.get-item-description {
	font-size: 16px;
	font-weight: 200;
}

.get-item-title {
	font-size: 18px;
	padding-bottom: 10px;
}

.line-decoration {
	display: inline-block;
	width: 88px;
	border: 1px solid #ff0000;
	margin-bottom: 22px;
}

.introducing-app {
	background-color: #e9e9e9;
	padding-top: 40px;
}

.introducing-img {
	width: 550px;
	margin-left: -28px;
	background: url(..//image/iPhone-5s.jpg) no-repeat left top;
	border-radius: 10%;
	text-align: center; 
  }

.img-background {
	
}

.front-img {
	object-fit: cover;
	display: block;
	position: relative;
	bottom: -160px;
	right: -69px;
	height: 100%;
	width: 440px;
	height: 620px;
}

/*
.section-design-battles {
	margin-bottom: 155px;
}

.design-battles-title {
	font-size: 62px;
	color: #e71cb4;
	margin-top: 140px;
	margin-bottom: 90px;
	
}

.design-battles-lead {
	font-size: 32px;
	line-height: 1.5;
	margin-bottom: 135px;
	
}

.questions-list-title {
	font-size: 36px;
	margin-bottom: 95px;
}

.wrapper-questions {
	font-size: 0;
	margin-bottom: 80px;
}

.questions {
	list-style: none;
	display: inline-block;
	width: calc(50% - 150px);
	font-size: 0;
	list-style-type: decimal-leading-zero;
	font-weight: 700;
	margin-left: 150px;

}

.questions-item {
	font-size: 44px; 
	margin-bottom: 66px;
}

.questions-remarka {
	display: inline-block;
	font-weight: 400;
	vertical-align: middle;
	width: calc(100% + 60px);
	font-size: 24px;
	padding-left: 100px;
	color: navy;
}

.questions li:before {
	display: inline-block;
	vertical-align: middle;
	font-size: 44px;
	padding-right: 28px;
	padding-left: 35px;
	font-weight: 700;

}

.questions-item:before {
	font-size: 44px;
	content: ">";
	margin-left: -180px;

}

.questions-item-yellow {
	color: #ffde16;
}

.questions-item-pink {
	color: #ffbd9e;
}


.questions-item-blue {
	color: #20c9e0;
}


.questions-item-green {
	color: #2eac66;
}

.questions-item-red {
	color: #ff6179;
	content: "> 05.";
}

.design-battles-description {
	margin-bottom: 74px;
	font-size: 22px;
	line-height: 1.15;
}

.courses-start-title {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 72px;
}

.courses-start-description {
	font-size: 14px;
	margin-bottom: 45px;
}

.btn-course {
	min-width: 460px;
	background-color: #c60ebe;
	padding: 24px 82px 24px 82px;
	font-size: 22px;
	font-weight: 700;
	border: none;
	border-radius: 8px;
	text-transform: capitalize;
}

.section-said-battles {
	background-image: url(..//image/Bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-bottom: 116px;
	margin-bottom: 60px;
}

.said-battles-tittle {
	padding-top: 155px;
	font-size: 62px;
	text-align: center;
	margin-bottom: 70px;
}

.said-battles-lead {
	max-width: 1070px;
	margin: 0 auto 50px auto;
	font-size: 22px;
	text-align: center;
	line-height: 37px;
}

.container-profile {
	margin-bottom: 115px;
}

.users-list {
	font-size: 0;
	width: 1045px;
	margin: 0 auto 25px auto;
}

.user-list-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 122px;
}

.user-list-item:last-child {
	margin-right: 0;
}

.profile-link {
	display: block;
	text-decoration: none;
} 

.profile-link:hover {
	opacity: 0.7;
}

.profile-link:active {
	opacity: 0.2;
}

.profile-link:focus {
	outline: 2px solid #ff0000;
}

.said-battles-profile-img {
	width: 100%;
	margin-bottom: 20px;
}

.name {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #444444;
	margin-bottom: 20px;
}

.profession {
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: #444444;
}

.color-item-white {
	color: #ffffff;
}

.countdown-tittle {
	margin-bottom: 60px;
	font-size: 62px;
	text-align: center;
}

.countdown-list {
	font-size: 0;
	width: 852px;
	margin-right: auto;
	margin-left: auto;
}

.countdown-item {
	display: inline-block;
	width: calc((100% - 210px) / 4);
	background-color: #470340;
	text-align: center;
	margin-right: 70px;
	font-size: 48px;
}

.countdown-item:last-child {
	margin-right: 0;
}

.countdown-number {
	font-size: 70px;
	font-weight: 700;
	padding: 28px 0 18px 0;
}

.countdown-date {
	font-size: 20px;
	width: 100%;
	font-weight: 400;
	padding-bottom: 25px;
}

.countdown-item:first-child {
	background-color: inherit;
	border: 1px solid #fff;
}

.sponsorship {
	padding-top: 85px;
	padding-bottom: 115px;
}

.sponsorship-title {
	font-size: 62px;
	text-align: center;	
	margin-bottom: 85px;
}

.sponsorship-list {
	font-size: 0;
	padding-right: -15px;
	padding-left: -15px;
}

.sponsorship-item {
	display: inline-block;
}

.sponsorship-img {
	opacity: 0.3;
}

.sponsorship-link {
	padding: 0 15px;
	display: block;
}

.sponsorship-link:hover {
	opacity: 0.7;
}

.sponsorship-link:active {
	opacity: 0.2;
}

.sponsorship-link:focus {
	outline: 2px solid #ff0000;
}



.contact-us {
	padding: 102px 0;
}

.contact-title {
	text-align: center;
	font-size: 64px;
	margin-bottom: 80px;
}

.contact-discription {
	width: 670px;
	text-align: center;
	font-size: 22px;
	margin: 0 auto 70px auto;
	line-height: 1.8;
}

.contact-form {
	width: 660px;
	margin: auto;
	font-size: 0;
}

.form-contact-item {
	font-size: 13px;
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 15px;
	margin-left: 15px;
	min-width: 300px;
	border: none;
	border-bottom: 5px solid #555555;;
	height: 40px;
	outline: none;
}

.form-contact-item:focus {
	border-bottom: 1px solid #555555;
	font-weight: 400;
	
}

.form-contact-item::placeholder {
	font-size: 13px;
	font-weight: 400;
}

.send {
	display: block;
	width: calc(100% - 520px);
	border: none;
	border-bottom: 5px solid #555555;
	padding: 10px 490px 10px 10px;
	outline: none;
	font-size: 13px;
	margin: 0 auto 45px auto;
}

.send:focus {
	border-bottom: 1px solid #555555;
	font-size: 13px;

}

.btn-contact {
	min-width: 150px;
	font-size: 12px;
	font-weight: 700;
	background-color: #555555;
	margin-left: 740px;
	border: none;
	padding: 21px 10px 21px 10px;
}

.newsletter {
	background-color: #eeeeee;
	padding-bottom: 60px;
	padding-top: 72px;
}

.newsletter-title {
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}


.newsletter-description {
	margin-bottom: 26px;
	text-align: center;
}

.email {
	padding: 20px;
	min-width: 400px;
	border: none;
	border-radius: 10px;
	margin-left: 298px;
	margin-right: 8px;
	margin-bottom: 84px;
	padding-left: 20px;
	font-size: 18px;
}

.email::placeholder {
	font-size: 18px;
	padding-right: 140px;
}

.btn-email {
	background-color: #c60ebe;
	border-radius: 10px;
	padding: 20px 25px 20px 25px;
	border: none;
	font-size: 18px;
}

.messengers-list {
	width: 300px;
	margin: auto;
	font-size: 0;
}

.messengers-item {
	display: inline-block;
	margin-right: 7px;
	background-color: #dedede;
	border-radius: 50%;
}

.messengers-link {
	display: block;
	padding: 23px;
}

.messengers-link:hover {
	opacity: 0.5;
}

.messengers-link:active {
	opacity: 0.1;
}

.messengers-link:focus {
	outline: 2px solid #ff0000;
}