* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
}

html, body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	height: 100vh;
	background-color: #ffffff;
	color: #000000;
	line-height: 1.15;
	letter-spacing: 0.05em;
}

.main-banner {
	background-image: url(..//image/main-image.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 240px;
}

.container {
	width: 1180px;
	margin: auto;
}

.main-nav {
	font-size: 0;
	text-align: justify;
	margin-bottom: 270px;
}

.main-nav:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.main-menu {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.main-nav-link {
	display: inline-block;
}

.main-nav-link:hover {
	opacity: 0.5;
}

.main-nav-link:active {
	opacity: 0.1;
}

.main-nav-link:focus {
	outline: 2px solid #ff0000
}

.main-menu-item {
	display: inline-block;
	font-size: 14px;	
	font-weight: 700;
}

.main-menu-item-link {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	padding: 15px 20px 15px 0;
}


.main-menu-item-link:hover {
	color: #e71cb4;
	border-bottom-color: #e71cb4;
}

.main-menu-item-link:active {
	color: #000;
	border-bottom-color: #000;
}

.main-menu-item-link:focus {
	outline: 2px solid #ff0000;
}

.dropbtn {
  background-color: inherit;
  border: none;
 }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown-content-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-link:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.header-title  {
	width: 450px;
	margin: auto;
	font-family: "Times New Roman", serif;
	font-style: italic;
	font-size: 36px;
	margin-bottom: 40px;
	color: rgba(255,255,255,0.7);
}

.big-header-title {
	font-style: normal;
	font-size: 100px;
	text-transform: uppercase;
	color: #fff;
}

.btn {
	background-color: inherit;
	color: #ffffff;
}

.btn:hover {
	opacity: 0.5;
}

.btn:active {
	opacity: 0.1;
}

.btn:focus {
	outline-color: #2f2f;
}

.btn-header {
	min-width: 268px;	
	border: 2px solid #fff;
	padding: 18px 75px;
	margin-bottom: 42px;
}

.header-description {
	font-size: 14px;
	margin-bottom: 77px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
}

.header-descr-link {
	color: #fff;
}

.header-descr-link:hover {
	color: #e71cb4;
	border-bottom-color: #e71cb4;
}

.header-descr-link:active {
	color: #000;
	border-bottom-color: #000;
}

.header-descr-link:focus {
	outline: 2px solid #ff0000;
}

.get {
	padding-top: 100px;
	padding-bottom: 100px;
}

.get-list {
	font-size: 0;	
}

.get-list-item {
	display: inline-block;
	width: 360px;
	margin-right: 40px;
	text-align: center;
}

.get-list-item:last-child {
	margin-right: 0;
}

.circle-get-img {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 50%;
	margin-bottom: 20px;
}

.get-img {
	padding: 30px;
}

.align-circle {
	padding-bottom: 44px;
	padding-top: 44px;
}

.get-list-link {
	display: block;
	text-decoration: none;
	color: #000;
} 

.get-list-link:hover {
	opacity: 0.5;
}

.get-list-link:active {
	opacity: 0.1;
}

.get-list-link:focus {
	outline: 2px solid #ff0000;
}

.get-item-description {
	font-size: 16px;
	font-weight: 200;
}

.get-item-title {
	font-size: 18px;
}

.line-decoration {
	display: inline-block;
	width: 88px;
	height: 10px;
	border-bottom: 1px solid #ff0000;
	margin-bottom: 22px;
}

.introducing-app {
	background-color: #f7f7f7;
	padding-top: 100px;
	font-size: 0;
}

.introducing-img {
	display: inline-block;
	margin-left: -22px;
	margin-right: 108px;
  }

.introdusing-lead {
	display: inline-block;
	width: 545px;
	vertical-align: top;
	padding-top: 80px;
}

.intro-lead-title {
	font-size: 18px;
}

.intro-lead-descrip {
	font-size: 16px;
	margin-bottom: 30px;
}

.intro-example-logo {
	margin-right: 10px;
}

.intro-example-link {
	display: inline-block;
}

.intro-example-link:hover {
	opacity: 0.5;
}

.intro-example-link:active {
	opacity: 0.1;
}

.intro-example-link:focus {
	outline: 2px solid #ff0000;
}

.profile {
	position: relative;
	top: -177px;
	background-image: url(..//image/Layer-17.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	;
}

.profile-img {
	border-radius: 50%;
	border: 6px solid #948b93;
}

.profile-link {
	display: block;
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	line-height: 1.6;
	color: #837782;
	margin-bottom: 35px;
}

.site {
	font-size: 18px;
	font-style: italic;
}

.profile-link:hover {
	opacity: 0.5;
}

.profile-link:active {
	opacity: 0.1;
}

.profile-link:focus {
	outline: 2px solid #ff0000;
}

.ellipsis {
	width: 55px;
	font-size: 0;
	margin: auto;
}

.circle {
	display: inline-block;
	background-color: #837782;
	border-radius: 50%;
	margin-right: 10px;
	width: 11px;
	height: 11px;
}

.circle:first-child {
	background-color: #fff;
}

.circle:last-child {
	margin-right: 0;
}